<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">



		<servlet>
			<servlet-name>Login</servlet-name>
			<servlet-class>auth.Login</servlet-class>
		</servlet>

		<servlet>
			<servlet-name>ForgotPassword</servlet-name>
			<servlet-class>auth.ForgotPassword</servlet-class>
		</servlet>
		<servlet>
			<servlet-name>Register</servlet-name>
			<servlet-class>auth.Register</servlet-class>
		</servlet>


		<servlet>
			<servlet-name>Home</servlet-name>
			<servlet-class>Home</servlet-class>
		</servlet>


		<servlet>
			<servlet-name>Admin</servlet-name>
			<servlet-class>admin.AdminServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>Admin</servlet-name>
			<url-pattern>/admin/*</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>User</servlet-name>
			<servlet-class>admin.UserServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>User</servlet-name>
			<url-pattern>/admin/user/*</url-pattern>
		</servlet-mapping>

		<servlet>
			<servlet-name>Profile</servlet-name>
			<servlet-class>admin.ProfileServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>Profile</servlet-name>
			<url-pattern>/admin/profile/*</url-pattern>
		</servlet-mapping>


		<servlet>
			<servlet-name>Teacher</servlet-name>
			<servlet-class>admin.TeacherServlet</servlet-class>
		</servlet>

		<servlet-mapping>
			<servlet-name>Teacher</servlet-name>
			<url-pattern>/admin/teacher/*</url-pattern>
		</servlet-mapping>


		<servlet-mapping>
			<servlet-name>Login</servlet-name>
			<url-pattern>/login</url-pattern>
		</servlet-mapping>


		<servlet-mapping>
			<servlet-name>Home</servlet-name>
			<url-pattern>/home</url-pattern>
		</servlet-mapping>


		<servlet-mapping>
			<servlet-name>Register</servlet-name>
			<url-pattern>/register</url-pattern>
		</servlet-mapping>

	 <servlet-mapping>
			<servlet-name>ForgotPassword</servlet-name>
			<url-pattern>/forgot</url-pattern>
		</servlet-mapping>
    
</web-app>